@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.brdKTb {
  margin-bottom: 0px !important;
}

.container-fluid {
  padding: 0px !important;
}

.imagemPrincipal {
  background-position: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  margin-bottom: 100px;
}

.texto {
  width: 100%;
  top: 45%;
  position: absolute;
  z-index: 100;
}

.texto h2 {
  font-weight: 400;
  font-family: 'Great Vibes', handwriting;
  word-wrap: break-word;
  margin-top: 0;
  font-size: 73px;
  color: #ebebeb;
  text-align: center;
}

.texto a {
  color: #fff;
  background: #be8c60;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  padding: 15px 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 1px;
  line-height: 130px;
  transition: color 0.3s ease, opacity 0.3s ease;
  text-decoration: none;
}

.textoCategoria {
  margin-left: 45px;
  margin-bottom: 50px;
}

.textCat {
  padding: 20px;
  border-left: 1px solid #ccc;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.dropdown{
  margin-top: 24px;
}

.iconeStar {
  font-size: 18px;
  color: rgb(100, 100, 42);
}

/* HEADER */
header .container {
  max-width: 100%;
}

header .logo-img {
  width: 230px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.botaoLogin {
  background-color: #e0d5d3;
  font-weight: 800;
  cursor: pointer;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nav-link {
  color: rgb(74, 34, 26) !important;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  margin: 0px 20px;
}

.btn-outline-primary {
  color: #8b0d32;
  border-color: #8b0d32;
  font-weight: bolder;
  cursor: pointer;
  border: 1px solid #8b0d32;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.4s ease-in-out, background-color 0.45s ease-in-out,
    border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #8b0d32;
}

.btn-primary {
  font-family: 'Lora';
  background-color: #8b0d32;
}

.btn-primary:hover {
  color: #8b0d32;
  border-color: #8b0d32;
  font-weight: bolder;
  cursor: pointer;
  border: 1px solid #8b0d32;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  transition: color 0.25s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn--icon {
  color: rgb(70, 75, 79);
  border-color: rgba(70, 75, 79, 0.2);
  margin-right: 5px;
}
.naoPossuiProd {
  padding-left: 55px;
  font-size: 18px;
}
.btn--icon img,
.btn--icon svg {
  width: 20px;
  height: auto;
  margin-right: 0.1875rem;
}
.css-1wmxvcs {
  color: rgb(70, 75, 79);
  border-color: rgba(70, 75, 79, 0.2);
  margin-right: 5px;
}
.btn,
.subscribe__add {
  margin-right: 35px;
  background: transparent;
  font-size: 0.8125em;
  font-weight: 700;
  color: #464b4f;
  border: 1px solid rgba(70, 75, 79, 0.2);
  border-radius: 2px;
  padding: 0.625rem 0.625rem 0.4375rem;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  letter-spacing: 0.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.65, 0.845, 0.16, 0.995);
}
#botaoCad {
  background: transparent;
  font-size: 0.8125em;
  font-weight: 700;
  color: #464b4f;
  border-radius: 2px;
  padding: 0.625rem 0.625rem 0.4375rem;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  letter-spacing: 0.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.65, 0.845, 0.16, 0.995);
}
.btn {
  display: flex;
  align-items: center;
}
.dTYZhm {
  margin-bottom: 0px !important;
}
.navbar-toggler {
  background-color: rgb(223, 223, 223);
}
a {
  transition: color 0.3s ease, opacity 0.3s ease;
}
.chamada-contato {
  font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
  border-left: solid 1px #141414;
  color: #501417;
  padding-bottom: 20px;
  padding-left: 10px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
}
.cidadeLabel{
  margin-bottom: 10px;
}
#secao03 {
  position: relative;
  line-height: 1.7em;
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: 700;
}
/* UF */
#cadastro-uf {
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 9px;
  font-weight: bold;
}

#cadastro-cidade{
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;

}

#secao03 #enviar {
  color: #771700 !important;
  border-color: #edd29a;
  background-color: #edd29a;
  margin-top: 2%;
}

#secao03 label,
h1 {
  color: #501417;
  padding-top: 0%;
}

/* Colunas dos formularios */
.colunasFormularios {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  /* flex container, transforma os filhos em flex itens */
  box-shadow: 0px 2px 15px 6px rgba(0, 0, 0, 0.11);
  padding: 0px 30px;
}

/* Título introdutório do formulário */
.tituloFormIntro {
  padding: 20px 30px;
  display: flex;
  box-shadow: 0px 1px 5px 1.5px rgba(0, 0, 0, 0.11);
  font-size: 14px;
}

/* Configuração das colunas dos formulários */
.coluna1,
.coluna2,
.colunadetalhe1,
.colunadetalhe2 {
  /* a primeira fatia ocupará a primeira metade */
  width: 50%;
  margin: 80px 35px;
  line-height: 1.5;
}
/* Configuração da segunda coluna do formulário */
.coluna2 {
  margin: 160px 35px;
}
/* Espaçamento interno na coluna 2 do formulário participantes */
.colunadetalhe2 {
  padding-top: 20px;
}

#botaoFormulario {
  margin-top: 74px;
}
.formPainel{
  margin-top: 60px;
}
.linkSignin {
  text-decoration: none;
  color: rgb(112, 47, 47);
  padding: 0px 10px;
}
.linkSignin:hover {
  text-decoration: none;
  color: rgb(148, 105, 105);
}

body {
  min-height: 100vh;
  background: #fafafa;
}
/* TABELA INSCRITOS */
.noparticipants {
  font-size: 25px;
  margin-bottom: 15px;
}
.bg-gradient-l-primary-gradient {
  background-image: linear-gradient(to left, #4f2821, #aa4938);
}
.shadow-redBtn {
  box-shadow: 0 4px 12px 0 rgb(226 60 82 / 20%);
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.font-bold {
  font-weight: 700;
}
.border-none {
  border-style: none;
}
.rounded-full {
  border-radius: 9999px;
}

/* fortm singin */
.form-control {
  height: 45px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;

}

.form-group .label {    
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-weight: 700;
}

.text-login {
  line-height: 1.5;
  font-weight: 500;
  color: #000;
  padding-left: 20px;
}

.text-cadastro {
  line-height: 1.5;
  font-weight: 500;
  color: #000;
}

.estilo-botao-details {
  background-image: linear-gradient(to left, #ff425b, #c42252);
  border: none;
  font-weight: 700;
}

.estilo-botao-details:hover {
  background-image: linear-gradient(to left, #bd616d, #9e596e);
  border: none;
  font-weight: 700;
}

.estiloBotaoDetails {
  margin-top: 20px;
}

.text-muted {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 900;
  background: #f8f9fd;
  color: gray;
  letter-spacing: 1px;
}

.estilo-botao:hover {
  background-image: linear-gradient(to left, #935561, #aa4938);
  border: none;
  color: #fff;
  font-weight: 700;
}
.estilo-botao-desable {
  background-image: linear-gradient(to left, #4f2821, #aa4938);
  border: none;
  color: #fff;
  font-weight: 700;
}
/* FOOTER */
footer {
  position: center;
  text-align: center;
  font-size: 24px;
  /* altera o tamanho da fonte para 24px */
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  background-color: #dbc084;
  color: white;
}
footer.rodape {
  overflow: hidden;
}
/* conteudo redes sociais */
footer .redes-sociais {
  /* expaçamento interno */
  margin-top: 63px;
  /* expaçamento externo, ajusta em relação ao título */
  position: left;
  text-align: left;
}
/* título redes sociais */
footer .tituloRedesSociais {
  margin-left: 35px;
  margin-bottom: 10px;
  /* expaçamento externo */
  text-transform: uppercase;
  /* caixa alta */
  font-size: 18px;
  font-weight: 600;
  /* altera o peso da fonte, deixando mais pesada */
  letter-spacing: 3px;
  /* espaçamento entre as letras */
  color: white;
  border-left: 5px solid #fff;
  padding-left: 30px;
}

footer .icons-redes-sociais a {
  font-size: 40px;
  padding-left: 37px;
  color: #fff;
}
/* meu nome centralizado */
footer .nome-footer {
  /* expaçamento externo, deixar o nome embaixo */
  font-size: 14px;
  text-transform: uppercase;
  /* texto em caixa alta */
  font-weight: 900;
  /* fonte mais pesada */
  letter-spacing: 3px;
  /* espaçamento entre as letras */
  text-align: center;
}
footer .imagemFooter {
  margin-top: 30px;
  width: 140px;
  height: 120px;
  position: center;
  text-align: center;
  margin-left: 95px;
}
footer .infomacoes {
  padding-top: 50px;
  text-align: center;
}
/* Aplica o espaçamento entre os icones e textos */
footer .address {
  padding-top: 10px;
  /* espaçamento interno acima do endereço */
}
footer .email {
  padding-top: 15px;
  /* espaçamento interno acima do e-mail */
}
footer .phone {
  padding-top: 15px;
  /* espaçamento interno acima do telefone */
}
/* icones do react no footer */
footer .iconeInfoRodape {
  margin-right: 5px;
}
/* caso o usuário passe o cursor nos icones */
footer i:hover {
  /* altera a cor */
  color: #c7b7ba;
}

@media (max-width: 400px) {
  header .logo-img {
    width: 160px;
    height: 50px;
    margin: 0px;
    padding: 0px;
  }
  footer .icons-redes-sociais a {
    padding: 0px 20px;
  }
}

@media (max-width: 500px) {
  .row {
  }
  header .logo-img {
    width: 160px;
    height: 50px;
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 800px) {
  /* Configuração das colunas dos formulários */
  .coluna1,
  .coluna2,
  .colunadetalhe1,
  .colunadetalhe2 {
    /* a primeira fatia ocupará a primeira metade */
    width: 100%;
    margin: 0px 0px;
    line-height: 1.5;
  }
  /* Configuração da segunda coluna do formulário */
  .coluna2 {
    margin: 0px 0px;
  }
  .cardsTelaInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
  }
  /* título redes sociais */
  footer .tituloRedesSociais {
    padding-right: 13px;
  }
  footer .icons-redes-sociais a {
    padding-right: 13px;
  }
  .colunasFormularios {
    display: flex;
    flex-direction: column;
    padding: 20px !important;
    text-align: left;
    width: 100%;
  }

  .colunadetalhe1 {
    width: 100%;
    margin-left: 15px !important;
    margin-bottom: 0px !important;
  }
  .colunadetalhe2 {
    width: 100%;
    margin-left: 15px !important;
    margin-top: 0px !important;
    padding: 0px !important;
  }
}

@media (max-width: 970px) {
  .container-fluid {
    margin-left: 30px;
  }
  .tabela thead {
    display: none;
  }
  .tabelaParticipante {
    padding: 20px 0px;
    box-shadow: 0px 1px 5px 1.5px rgb(0 0 0 / 11%);
  }
  .tabela,
  .tabela tbody,
  .tabela tr,
  .tabela td {
    display: block;
    width: 100%;
  }
  .tabela tr {
    margin-bottom: 15px;
  }
  .tabela td {
    text-align: right;
    position: relative;
  }
  .tabela td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  .botaoTabela td {
    padding: 10px;
  }
  /* conteudo redes sociais */
  footer .redes-sociais {
    margin-top: 63px;
    text-align: center;
  }
  /* título redes sociais */
  footer .tituloRedesSociais {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    /* espaçamento entre as letras */
    color: white;
    border: none;
    margin: 0px;
    padding-bottom: 15px;
  }
  footer .infomacoes {
    padding-bottom: 45px;
    text-align: center;
  }
  footer .imagemFooter {
    margin-top: 60px !important;
  }
}

@media (max-width: 995px) {
  footer .imagemFooter {
    display: none;
  }
}

@media (min-width: 930px) {
  @media (max-width: 1070px) {
    .formularioLogar {
      margin-left: 75px;
    }
    .tabela td {
      border: none;
    }
    .container-fluid {
      margin-left: 70px;
    }
    footer .icons-redes-sociais a {
      font-size: 40px;
      padding-left: 20px;
      color: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .espacoTabela {
    display: flex;
    height: 70px;
  }
  .cardsTelaInicial {
    left: 4%;
  }
}

/*  HD - 1366: 768P */

@media (max-width: 1366px) {
  .cardsTelaInicial {
    left: 0px !important;
  }
  footer .imagemFooter {
    margin-left: 115px !important;
  }
}

/* FULL HD - 1920: 1080P */

@media (max-width: 1920px) {
  header .container {
    max-width: 100%;
  }
  .cardsTelaInicial {
    left: 6%;
    margin-bottom: 50px;
  }
  footer .imagemFooter {
    margin-left: 175px;
  }
}

/* 2K - 2048: 1080P */

@media (max-width: 2048px) {
  .cardsTelaInicial {
    left: 7%;
    margin-bottom: 50px;
  }
  footer .imagemFooter {
    margin-left: 175px;
  }
}
